{% extends 'blog/base.html' %}

{% block content %}
	<div class="post">
		{% if user.id == post.author_id %}
			<a class="btn btn-default" href="{% url 'posts:post_edit' pk=post.pk %}">Edit post</a>
			<a class="btn btn-default" href="{% url 'posts:post_remove' pk=post.pk %}">Delete post</a>
		{% endif %}
		<h1>{{ post.title }}</h1>
		<div>
		<span style="float:left; width: 80%">
			<p>{{ post.text|linebreaksbr }}</p>
		</span>
	</div>
</div>

	<hr>
	{% if not user.is_authenticated %}
		<div>
			<a href="{% url 'accounts:signup' %}">
				Register to make comments :)
			</a>
			<hr>
			<a href="{% url 'accounts:login' %}">
				Or LogIn :)
			</a>
		</div>
	{% endif %}

	<a class="btn btn-default" href="{% url 'posts:add_comment_to_post' pk=post.pk %}">Add your comment below!</a>

{% for comment in post.list_comments %}
    <div class="comment">
        <div class="date">
			{{ comment.created_date }}
	{% if user.is_authenticated and comment.author == user.username %}
			<a class="btn btn-default" href="{% url 'posts:comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
	{% endif %}
		</div>
			<strong>{{ comment.author }}</strong>
        	<p>{{ comment.text|linebreaks }}</p>
    </div>
	{% empty %}
		<p>No comments here yet :(</p>

{% endfor %}

{% endblock %}